---
title: Support
layout: default.liquid
---

- Open source sustainability, unpaid labor
- if you or your company uses Rust, Crates, etc. consider supporting people's work

## Support a Rustacean

A See also Aaron Turon's list: http://aturon.github.io/sponsor

<div class="creators">
  {% for creator in site.data.creators %}
  <div class="card">
    <div class="content">
      <img class="right floated mini ui image" width="50" src="/images/u/{{ creator.avatar }}">
      <h3>
        {{ creator.name }}
      </h3>
      <div class="meta">
        <a href="{{ creator.code.link }}">{{ creator.code.name }}</a>
      </div>
      <div class="description">
        {{ creator.description }}
      </div>
    </div>
    <div class="card-extra content">
      <a href="{{ creator.support.link }}" class="button">{{ creator.support.name }}</a>
    </div>
  </div>
  {% endfor %}
</div>

