<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0">
    <title>{{ page.title | escape }} – Read Rust</title>
    <link rel="stylesheet" type="text/css" href="/fonts.css">
    <link rel="stylesheet" type="text/css" href="/index.css">

    <link rel="alternate" title="Read Rust - All Posts" type="application/rss+xml" href="/all/feed.rss">
    {% for category in site.data.categories %}
      <link rel="alternate" title="Read Rust - {{ category.name | escape }}" type="application/rss+xml" href="{{ category.path }}feed.rss">
    {% endfor %}

    <meta name="description" content="Read Rust collects interesting posts related to the Rust programming language.">
  </head>
  <body>
    <header>
      <a href="/">Read <img src="/images/logo.svg" class="logo" /> Rust</a>

      <nav>
        <div class="list-inline">
          <div><a href="/">Home</a></div>
          <div><a href="/about.html">About</a></div>
          <div><a href="/faq.html">FAQ</a></div>
          <div><a href="/submit.html">Submit</a></div>
        </div>
      </nav>
    </header>
    <div class="main">
      <h1>{{ page.title | escape }}</h1>
      {{ page.content }}
    </div>
    <footer>
      <form method="get" id="search" class="right" action="https://duckduckgo.com/">
        <input name="sites" value="readrust.net" type="hidden">
        <input name="kz" value="-1" type="hidden">
        <input name="kaf" value="1" type="hidden">
        <input name="q" id="q" maxlength="255" placeholder="Search" autocapitalize="off" autocomplete="off" title="Search Read Rust" type="text">
        <input value="Search" type="submit">
      </form>

      Copyright © 2018&ndash;2019 <a href="https://www.wezm.net/about/">Wesley Moore</a>.
      Read Rust is not an official Rust or Mozilla project.<br>
      Built with <a href="http://cobalt-org.github.io/">Cobalt</a>. Source on <a href="https://github.com/wezm/read-rust">GitHub</a>.

      <div class="socials">
        <a href="/all/feed.rss"><img src="/images/rss.svg" alt="Read Rust RSS feed" /></a>
        <a href="https://twitter.com/read_rust"><img src="/images/twitter.svg" alt="Read Rust on Twitter" /></a>
        <a href="https://botsin.space/@readrust"><img src="/images/mastodon.svg" alt="Read Rust on Mastodon" /></a>
        <a href="https://www.facebook.com/readrust/"><img src="/images/facebook.svg" alt="Read Rust on Facebook" /></a>
        <a href="https://github.com/wezm/read-rust"><img src="/images/github.svg" alt="Read Rust on GitHub" /></a>
        <a href="https://patreon.com/wezm"><img src="/images/patreon.svg" alt="Support me on Patreon" /></a>
      </div>
    </footer>
  </body>
</html>
